section#map
  .container
    h2.text-center Cobertura
    p Nuestro servicio en Chile se extiende alrededor de las 37 comunas del Gran Santiago, operando ya dentro las principales comunas, sabemos también que actualmente la cobertura física de nuestro servicio no es suficiente, sino también la cobertura de canales digitales, que <strong>Ceteris Group</strong> a desarrollado pensando en usted. 
  .ll(map-lazy-load='https://maps.google.com/maps/api/js', map-lazy-load-params='{{map.googleMapsUrl}}')
    ng-map.map(scrollwheel='false', draggable='false', street-view-control='false', center='{{map.mapCenter}}', styles='{{map.mapStyle}}', zoom='11', zoom-to-include-markers='true')
      marker(position='-33.3692073,-70.6822934', icon='{url:"img/mark.png"}')
      marker(position='-33.4153984,-70.683546', icon='{url:"img/mark.png"}')
      marker(position='-33.4471814,-70.582904', icon='{url:"img/mark.png"}')
      marker(position='-33.3692073,-70.6822934', icon='{url:"img/mark.png"}')
      marker(position='-33.3438637,-70.5672207', icon='{url:"img/mark.png"}')
      marker(position='-33.4474677,-70.7407488', icon='{url:"img/mark.png"}')
      marker(position='-33.3692073,-70.6822934', icon='{url:"img/mark.png"}')
      marker(position='-33.5150357,-70.8961299', icon='{url:"img/mark.png"}')
      marker(position='-33.4543406,-70.6186649', icon='{url:"img/mark.png"}')
      marker(position='-33.4857262,-70.5840593', icon='{url:"img/mark.png"}')
      marker(position='-33.4282445,-70.7144368', icon='{url:"img/mark.png"}')
      marker(position='-33.4976332,-70.671361', icon='{url:"img/mark.png"}')
      marker(position='-33.3836776,-70.5989213', icon='{url:"img/mark.png"}')
      marker(position='-33.5022882,-70.7301813', icon='{url:"img/mark.png"}')
      marker(position='-33.4543764,-70.6186649', icon='{url:"img/mark.png"}')
      marker(position='-33.4060325,-70.6689438', icon='{url:"img/mark.png"}')
      marker(position='-33.4233404,-70.5896285', icon='{url:"img/mark.png"}')
      marker(position='-33.4625988,-70.7207434', icon='{url:"img/mark.png"}')

