footer#footer
  .container
    .row
      .col-xs-6.col-sm-3
        h4 Ceteris Group
        ul
          li
            a(du-smooth-scroll, duration='800', href='#services') Servicios
          li 
            a(du-smooth-scroll, duration='800', href='#about') Quiénes Somos
          li
            a(du-smooth-scroll, duration='800', href='#map') Cobertura
      .col-xs-6.col-sm-3
        h4 Clientes
        ul
          li
            a(ng-click='footer.login()') Acceso a cuenta
          li 
            a(ng-click='footer.contactForm(true)') Registro
      .col-xs-6.col-sm-3
        h4 Servicio al Cliente
        ul
          li 
            a(ng-click='footer.contactForm()') Ayuda comercial
          li 
            a(ng-click='footer.contactForm()') Contacto
      .col-xs-6.col-sm-3
        
    .text-bottom
      .logo-h
      small © 2016 Ceteris Group. All rights reserved • Chile