header(ng-parallax, pattern='header.parallaxBg', speed='2.5')
  nav-bar
  .info.container
    p 
      | Administración de Condominios.
      br 
      | Consultorías en gestión de condominios.
      br 
      | Auditorías a comunidades.
      br 
      | Outsourcing de conserjería.
    a.ceterisbtn.light
      | Acceda a su cuenta
    a.ceterisbtn.light
      | Vea Área de Cobertura