header(ng-parallax, pattern='header.parallaxBg', speed='2.5')
  nav-bar
  .info.container
    //- a.ceterisbtn.light(ng-click='header.login()')
    //-   | Acceda a su cuenta
    a.ceterisbtn.light(du-smooth-scroll, duration='800', href='#map')
      | Vea Área de Cobertura
    p 
      | Administración de Condominios.
      br 
      | Consultorías en gestión de condominios.
      br 
      | Auditorías a comunidades.
      br 
      | Outsourcing de conserjería.
    