section#about
  .container
    h2.text-center Quiénes Somos
    .row
      .col-sm-6
        .logo-v
        p.text-center
          | Somos una empresa comprometida con el bienestar de nuestros clientes y usuarios, y es por eso que contamos con el mejor grupo humano para atender todos los requerimientos relacionados con la gestión de su comunidad, de tal forma de garantizar un alto nivel de confort y establecer relaciones de largo plazo.
      .col-sm-6
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='//www.youtube.com/embed/IphDOvVVVbI?rel=0&amp;controls=0&amp;showinfo=0')
        