section#services
  .container
    h2.text-center Servicios
    .row
      .col-sm-6
        p
          | En <strong>Ceteris Group</strong> nos enfocamos en brindar un servicio óptimo que permita a nuestros clientes y usuarios incrementar el valor de sus bienes inmuebles, somos especialistas en:
          ul.services-list
            li 
              i.fa.fa-check
              |   Reclutamiento y selección.
            li 
              i.fa.fa-check
              |   Gestión del talento humano.
            li 
              i.fa.fa-check
              |   Programación, supervisión y control del equipamiento crítico.
            li 
              i.fa.fa-check
              |   Gestión de cobranza, normalización de deuda y administración del flujo de caja.
            li 
              i.fa.fa-check
              |   Confección de planes preventivos y correctivos para la operación de la comunidad.
            li 
              i.fa.fa-check
              |   Outsourcing y auditorías de comunidades.
      .col-sm-6
        .actions
          a.ceterisbtn.dark
            | Descargue PDF
          a.ceterisbtn.dark
            | Contacte un Ejecutivo