@import '../../css/functions';
@import '../../css/colors';

#login{
  .modal-header{
    background: $orange;
    h2{
      font-size: 15px;
      font-weight: 300;
      height: 0;
      margin: 0;
      padding: 0;
      color: white;
    }
    .logo-h{
      position: absolute;
      top: 8px;
      left: 20px;
      width: 120px;
      height: 40px;
      background-repeat: no-repeat;
    }
  }
  input.submit{
    display: block;
    margin: 20px auto 10px;
  }
  .contact{
    font-weight: 400;
  }
  h2{
    margin: 10px auto 30px;
  }
  .modal-footer{
    p{
      font-weight: normal;
    }
  }
}
