#login
  .modal-header
    .logo-h
    a.close(ng-click='modal.close()')
      i.fa.fa-close
  .modal-body
    .row
      h2.text-center
        | Acceda a su Cuenta
      .col-sm-12
        form(ng-submit='modal.submit()', ng-show='modal.auth.verified==null')
          .form-group
            label
              | Usuario
            input.form-control(type='text', ng-model='modal.username')
          .form-group
            label
              | Contraseña
            input.form-control(type='password', ng-model='modal.user.password')
          .col-sm-12
            input.submit.ceterisbtn.dark(type='submit', value='Ingresar', ng-disabled='modal.loading')
          .col-sm-12
          i.fa.fa-refresh.fa-spin(ng-if='modal.loading')
        .contact.text-center(ng-show='modal.auth.verified==false')
          p
            | El usuario no existe o no ha sido activado.
          p
            | Por favor contacte a un ejecutivo.
    //- a(ng-click='modal.storeUser()')
    //-   | check
  //- .modal-footer