#contact
  .modal-header
    .logo-h
    h2.text-center
      span(ng-if='!contact.activate')
        | Contacto
      span(ng-if='contact.activate')
        | Activa tu código de usuario
    a.close(ng-click='contact.close()')
      i.fa.fa-close
  .modal-body
    .row
      .col-sm-12
        .alert.alert-success.text-center(ng-show='contact.sent=="sent"')
          | El formulario ha sido enviado exitosamente, pronto nos pondremos en contacto con Usted.
        .alert.alert-success.text-center(ng-show='contact.sent=="failed"')
          | Ha ocurrido un error, por favor intente nuevamente.
        p.text-center(ng-if='contact.loading')
          i.fa.fa-refresh.fa-spin
      form(name='contactForm', ng-submit='contact.submit(contactForm.$valid)', ng-show='!contact.sent')
        .col-sm-6
          .form-group
            label
              | Nombre {{contact.data.name}}
            input.form-control(type='text', ng-model='contact.data.name', required)
          .form-group
            label
              | Email
            input.form-control(type='email', ng-model='contact.data.email', required)
          .form-group
            label
              | Confirme Email
            input.form-control(type='email', ng-model='contact.data.email2', required)
          .form-group
            label
              | Teléfono de contacto
            .input-group
              span.input-group-addon +56 9
              input.form-control(type='number', ng-model='contact.data.phone', required)
        .col-sm-6(ng-if='!contact.activate')
          .form-group
            label
              | Asunto
            select.form-control(ng-model='contact.data.subject', ng-options='option for option in contact.selectOpt track by $index')
        .col-sm-6(ng-if='!contact.activate')
          .form-group
            label
              | Mensaje
            textarea.form-control(rows='8', ng-model='contact.data.body', required)
        .col-sm-6(ng-if='contact.activate')
          .form-group
            label
              | Usuario
            input.form-control(type='text', ng-model='contact.data.username', required)
        .col-sm-6(ng-if='contact.activate')
          .form-group
            label
              | Seleccione Comuna
            select.form-control(ng-model='contact.data.comuna', ng-options='comuna for comuna in contact.selectCom track by $index')
        .col-sm-12(ng-if='contact.activate')
          input.submit.ceterisbtn.dark(type='submit', value='Generar clave', ng-disabled='contact.loading')
        .col-sm-12(ng-if='!contact.activate')
          input.submit.ceterisbtn.dark(type='submit', value='Enviar', ng-disabled='contact.loading')
  .modal-footer
    .col-sm-12
      p.text-center
        small
          i.fa.fa-envelope   
          a(href='mailto:info@ceterisgroup.cl')
            |   info@ceterisgroup.cl
          |   -   
          i.fa.fa-phone   
          |   (+56) 2 29045797