.menu(du-scrollspy='top')
  nav.navbar.navbar-default
    .container-fluid.container
      .navbar-header
        button.mob-menu.navbar-toggle.collapsed(type='button', ng-click='navCollapsed=!navCollapsed')
          i.fa.fa-navicon
        .navbar-brand
          .logo-h
        .navbar-brand.pull-left.hidden-sm.hidden-md.hidden-lg
      .collapse.navbar-collapse(ng-class='{"in":navCollapsed}')
        ul.nav.navbar-nav
          li.btn-group
            a Quiénes Somos
          li.btn-group
            a Servicios
          li.btn-group
            a Covertura
          li.btn-group
            a Contacto