@import './core/css/functions';
@import './core/css/colors';
@import './core/css/common';
@import './core/css/logo';

@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);


body,
html{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100%;
}

.glyphicon{
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  display: inline-block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-left:before{
  content: '\f053';
}
.glyphicon-chevron-right:before{
  content: '\f054';
}

.modal-content{
  border-radius: 0;
}
